/data
/chroma_db
/build
/qdrant_storage
/n8n-local
/notebooks/vector-stores.ipynb
/.env
/api/.env
/src/recipe_wrangler/api/.env
/.venv
/foodkg.github.io
/neo4j-docker/neo4j.dump
/chroma_db
__pycache__/
*.pyc
*.pyo
*.pkl
*.jsonl
*.csv
*.xlsx
.idea/
/deployment

DATASET_NOTES.md
neo4j-query-examples.md
recipe-kg.md
# Python build metadata
*.egg-info/
